<div class='d-flex flex-row flex-wrap justify-content-around'>
  <% gears.each do |gear|%>
    <div class="card" style="width: 18rem;">
    <%= link_to((gear), class: 'a_link') do %>
      <img src="/apple-691633_640.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= gear.title %></h5>
    <% end %>
        <p class="card-text"><%= gear.content %></p>
        <i class="fas fa-shopping-cart"></i>
        <% if logged_in? %>
          <% if current_user.favorite?(gear) %>
            <%= link_to gear_favorites_path(gear.id), class: 'a_link', method: :delete do %>
              <span class="red"><i class="fas fa-grin-hearts"></i></span>
            <% end %>
          <% else %>
            <%= link_to gear_favorites_path(gear.id), class: 'a_link', method: :post do %>
            <span class="red"><i class="far fa-grin-hearts"></i></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
