
<div class='d-flex flex-row flex-wrap justify-content-around'>
  <% gears.each do |gear|%>
    <div class="card" style="width: 18rem;">
    <%= link_to((gear), class: 'a_link') do %>
      <% if gear.image? %>
        <%= image_tag gear.image.list.to_s, class: "card-img-top", style: "width: 286px; height: 180px;" %>
      <% else %>
        <img src="/no_image.jpg" class="card-img-top" alt="...">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= gear.title %></h5>
    <% end %>
        <p class="card-text text-truncate"><%= gear.content %></p>
        <% if gear.amazonUrl? %>
          <%= link_to "#{gear.amazonUrl}", class: "a_link" do %>
            <i class="fas fa-shopping-cart"></i>
          <% end %>
        <% else %>
          <i class="fas fa-shopping-cart"></i>
        <% end %>
        <% if logged_in? %>
          <% if current_user.favorite?(gear) %>
            <%= link_to gear_favorites_path(gear.id), class: 'a_link', method: :delete do %>
              <span class="red"><i class="fas fa-heart"></i></span> <%= gear.favorites.count %>
            <% end %>
          <% else %>
            <%= link_to gear_favorites_path(gear.id), class: 'a_link', method: :post do %>
            <span class="red"><i class="far fa-heart"></i></span> <%= gear.favorites.count %>
            <% end %>
          <% end %>
        <% end %>
        <% if gear.price? %>
          <div class="card_price">
            <%= gear.price %>円
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class='d-flex justify-content-center'>
  <%= paginate @gears %>
</div>
