<div class='container'>
  <div class="card mb-3">
    <% if @gear.image? %>
      <%= image_tag @gear.image.to_s, class: "card-img-top" %>
    <% else %>
      <img src="/no_image.jpg" class="card-img-top" alt="...">
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= @gear.title %></h5>
      <p class="card-text"><%= @gear.content %></p>
      <% if current_user == @gear.user %>
        <%= link_to "編集", edit_gear_path(@gear), class: 'btn btn-success btn-xs' %>
        <%= link_to "削除", @gear, method: :delete, data: { confirm: "本当によろしいですか?" }, class: 'btn btn-danger btn-xs' %>
      <% end %>
      <p class="card-text"><small class="text-muted"><%= @gear.created_at %></small></p>
    </div>
  </div>
</div>
